<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- LINK CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- FONTAWASOME -->
    <script
      src="https://kit.fontawesome.com/ce74ab369c.js"
      crossorigin="anonymous"
    ></script>
    <title>Tattoo Website</title>
  </head>

  <body>
    <header>
      <nav>
        <a href="/" class="logo">Tattoo Website</a>
        <div class="mobile-menu">
          <div class="fa-solid fa-bars"></div>
        </div>
        <ul class="nav-list">
          <li><a href="">Home</a></li>
          <li><a href="">Galeria</a></li>
          <li><a href="">Serviços</a></li>
          <li><a href="">Testimonials</a></li>
        </ul>
      </nav>
    </header>

    <section id="title"></section>
    <script src="js/script.js"></script>
  </body>
</html>
