<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- LINK CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- FONTAWASOME -->
    <script
      src="https://kit.fontawesome.com/ce74ab369c.js"
      crossorigin="anonymous"
    ></script>
    <!--- SWIPERJS --->
    <link
    rel="stylesheet"
    href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <title>Tattoo Website</title>
  </head>

  <body>
    <header>
      <nav>
        <div class="nav-a">
          <a href="/" class="logo">Tattoo Website</a>
        </div>
        <div class="mobile-menu">
          <div class="fa-solid fa-bars"></div>
        </div>
          <ul class="nav-list">
            <div class="nav-a"><li><a href="">Home</a></li></div>
            <div class="nav-a"><li><a href="#gallery">Galeria</a></li></div>
            <div class="nav-a"><li><a href="">Serviços</a></li></div>
            <div class="nav-a"><li><a href="">Testimonials</a></li></div>
          </ul>
    </header>

    <section id="title">
      <div class="container">
        <div class="grid1">
          <div class="right">
            <div class="carousel">
              <div class="carousel__item">
                <h2>Best tattoo 1</h2>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Blanditiis odio facilis esse, 
                </p>
                <button type="button" name="button">Read More</button>
              </div>
              <div class="carousel__item">
                <h2>Best tattoo 2</h2>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Blanditiis odio facilis esse, cumque laudantium suscipit, magnam
                  enim eum a quo tempora sequi
                </p>
                <button type="button" name="button">Read More</button>
              </div>
              <div class="carousel__item">
                <h2>Best tattoo 3</h2>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Blanditiis odio facilis esse, cumque laudantium suscipit, magnam
                  enim eum a quo tempora sequi maxime soluta nihil optio omnis
                  adipisci aspernatur voluptates?
                </p>
                <button type="button" name="button">Read More</button>
              </div>
            </div>
            
          </div>

          <div class="left">
            <div class="img-start">
              <img class="img-title" src="/image/h.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="about">
      <h3>What We Do</h3>
      <div class="container">
        <div class="grid2">
          <div class="info">
            <img src="/image/tattoo-machine-1.png" />
            <h3>Tattooing</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat
              impedit architecto voluptatum labore, similique vitae ipsum
              assumenda quasi, rem voluptate, aliquid earum et error quibusdam
              reprehenderit ullam cupiditate atque id.
            </p>
          </div>
          <div class="info">
            <img src="/image/chair-tattoo.png" />
            <h3>Tattooing</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat
              impedit architecto voluptatum labore, similique vitae ipsum
              assumenda quasi, rem voluptate, aliquid earum et error quibusdam
              reprehenderit ullam cupiditate atque id.
            </p>
          </div>
          <div class="info">
            <img src="/image/tattoo-machine-0.png" />
            <h3>Tattooing</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat
              impedit architecto voluptatum labore, similique vitae ipsum
              assumenda quasi, rem voluptate, aliquid earum et error quibusdam
              reprehenderit ullam cupiditate atque id.
            </p>
          </div>
        </div>
        <div class="grid1">
          <div class="right">
            <div class="img-start">
              <img class="img-about" src="/image/a.png" alt="" />
            </div>
          </div>
          <div class="left">
            <h3>About us</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Blanditiis odio facilis esse, cumque laudantium suscipit, magnam
              enim eum a quo tempora sequi maxime soluta nihil optio omnis
              adipisci aspernatur voluptates?
            </p>
            <button type="button" name="button">Read More</button></div>
    </section>

    <section id="gallery">
      <h3>Gallery</h3>
      <div class="wrapper">
        <div class="items">
          <span class="item active" data-name="All">All</span>
          <span class="item" data-name="Arms">Arms</span>
          <span class="item" data-name="Chest">Chest</span>
          <span class="item" data-name="Legs">Legs</span>
        </div>
      </nav>
    </div>

    <div class="gallery">
      <div class="image" data-name="Chest"><span><img src="image/image-example.jpg" alt=""></span></div>
      <div class="image" data-name="Chest"><span><img src="image/image-example.jpg" alt=""></span></div>
      <div class="image" data-name="Chest"><span><img src="image/image-example.jpg" alt=""></span></div>
      <div class="image" data-name="Chest"><span><img src="image/image-example.jpg" alt=""></span></div>
      <div class="image" data-name="Arms"><span><img src="image/image-example.jpg" alt=""></span></div>
      <div class="image" data-name="Arms"><span><img src="image/image-example.jpg" alt=""></span></div>
      <div class="image" data-name="Arms"><span><img src="image/image-example.jpg" alt=""></span></div>
      <div class="image" data-name="Legs"><span><img src="image/image-example.jpg" alt=""></span></div>
      <div class="image" data-name="Legs"><span><img src="image/image-example.jpg" alt=""></span></div>
      <div class="image" data-name="Legs"><span><img src="image/image-example.jpg" alt=""></span></div>
      <div class="image" data-name="Legs"><span><img src="image/image-example.jpg" alt=""></span></div>
      <div class="image" data-name="Legs"><span><img src="image/image-example.jpg" alt=""></span></div>
      <div class="image" data-name="Legs"><span><img src="image/image-example.jpg" alt=""></span></div>
    </div>

    <div class="preview-box">
      <div class="details">
        <span class="prev-title">Image Category:<p>Not defined</p></span>
        <span class="icon fas fa-times close-icon"></span>
      </div>
      <div class="image-box">
        <img src="" alt="">
      </div>
    </div>
    <div class="shadow"></div>

    </section>

    <section id="testimonials">
      <h3>What Says Our Client</h3>
      <div class="testimonials">
        <div class="container">
          <div class="swiper swiperContainer">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <figure>
                  <img src="image/c1.jpg" alt="">
                  <blockquote><i class="fa-solid fa-quote-right"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vitae quos quas, totam, cupiditate ex rerum quibusdam exercitationem accusamus magnam, reiciendis placeat nobis perferendis vel eum error esse sequi praesentium.</blockquote>
                  <figcaption>Any One</figcaption>
                </figure>
              </div>
              <div class="swiper-slide">
                <figure>
                  <img src="image/c3.jpg" alt="">
                  <blockquote><i class="fa-solid fa-quote-right"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vitae quos quas, totam, cupiditate ex rerum quibusdam exercitationem accusamus magnam, reiciendis placeat nobis perferendis vel eum error esse sequi praesentium.</blockquote>
                  <figcaption>Any One</figcaption>
                </figure>
              </div>
              <div class="swiper-slide">
                <figure>
                  <img src="image/c2.jpg" alt="">
                  <blockquote><i class="fa-solid fa-quote-right"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vitae quos quas, totam, cupiditate ex rerum quibusdam exercitationem accusamus magnam, reiciendis placeat nobis perferendis vel eum error esse sequi praesentium.</blockquote>
                  <figcaption>Any One</figcaption>
                </figure>
              </div>
              <div class="swiper-slide">
                <figure>
                  <img src="image/c3.jpg" alt="">
                  <blockquote><i class="fa-solid fa-quote-right"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vitae quos quas, totam, cupiditate ex rerum quibusdam exercitationem accusamus magnam, reiciendis placeat nobis perferendis vel eum error esse sequi praesentium.</blockquote>
                  <figcaption>Any One</figcaption>
                </figure>
              </div>
              <div class="swiper-slide">
                <figure>
                  <img src="image/c2.jpg" alt="">
                  <blockquote><i class="fa-solid fa-quote-right"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vitae quos quas, totam, cupiditate ex rerum quibusdam exercitationem accusamus magnam, reiciendis placeat nobis perferendis vel eum error esse sequi praesentium.</blockquote>
                  <figcaption>Any One</figcaption>
                </figure>
              </div>
              <div class="swiper-slide">
                <figure>
                  <img src="image/c1.jpg" alt="">
                  <blockquote><i class="fa-solid fa-quote-right"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vitae quos quas, totam, cupiditate ex rerum quibusdam exercitationem accusamus magnam, reiciendis placeat nobis perferendis vel eum error esse sequi praesentium.</blockquote>
                  <figcaption>Any One</figcaption>
                </figure>
              </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>

    <section id="footer">
      <div class="container">
        <div class="grid3">
          <div class="right">
            <h3>Nossas redes Sociais e Contato</h3>
            <div class="sfe">
              <div class="social-footer">
                <a class="fa-brands fa-whatsapp fa-xl" href="#"></a>
               </div>
               <div class="social-footer">
                 <a class="fa-brands fa-instagram fa-xl" href="#"></a>
               </div>
               <div class="social-footer">
                 <a class="fa-brands fa-facebook-square fa-xl" href="#"></a>
               </div>
               <div class="social-footer">
                 <a class="fa-solid fa-envelope fa-xl" href=""></a>
               </div>
            </div>
            <div class="sfe">
              <div class="contact">
                <p>Email: exampleemail@gmail.com</p>
              <p>Telefone: exampleemail@gmail.com</p>
              <p>Whatsapp: (41) 99999-7777</p>
              <p>Instagram: @tattoowebsite</p>
              <p>Facebook: TattooWebsite</p>
              </div>
            </div>
          </div>
         <div class="left">
          <div class="location">
            <h3>Nossa localização</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3602.3203263440137!2d-49.20309968882502!3d-25.46097719423518!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5a6a93507f471b%3A0x6a686faae9cbeec7!2sWell%20Tattoo%20art!5e0!3m2!1spt-BR!2sbr!4v1652465316447!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
         </div>
        </div>
      </div>
      
      
    </section>



    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="js/script.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- swiperjs script -->
    <script>
      new Swiper(".swiperContainer", {
        slidesPerView: 1,
        spaceBetween: 30,
        autoplay: {
          delay: 4500,
          pauseOnMouseEnter: true
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        },
       breakpoints: {
        1100: {
            slidesPerView: 2,
            spaceBetweenSlides: 30
          }
        }
      })

      ScrollReveal().reveal('.grid1');
    </script>

  </body>
</html>
