<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- LINK CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- FONTAWASOME -->
    <script
      src="https://kit.fontawesome.com/ce74ab369c.js"
      crossorigin="anonymous"
    ></script>
    <!--- SWIPERJS --->
    <link
    rel="stylesheet"
    href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <title>Tattoo Website</title>
  </head>

  <body>
    <header>
      <nav>
        <a href="/" class="logo">Tattoo Website</a>
        <div class="mobile-menu">
          <div class="fa-solid fa-bars"></div>
        </div>
        <ul class="nav-list">
          <li><a href="">Home</a></li>
          <li><a href="#gallery">Galeria</a></li>
          <li><a href="">Serviços</a></li>
          <li><a href="">Testimonials</a></li>
          <li>
            <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
          </li>
        </ul>
    </header>

    <section id="title">
      <div class="container">
        <div class="grid1">
          <div class="right">
            <h2>Best tattoo</h2>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Blanditiis odio facilis esse, cumque laudantium suscipit, magnam
              enim eum a quo tempora sequi maxime soluta nihil optio omnis
              adipisci aspernatur voluptates?
            </p>
            <button type="button" name="button">Read More</button>
            <div class="dots">
              <label></label>
              <label></label>
              <label></label>
            </div>
          </div>

          <div class="left">
            <div class="img-start">
              <img class="img-title" src="/image/h.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="about">
      <h3>What We Do</h3>
      <div class="container">
        <div class="grid2">
          <div class="info">
            <img src="/image/tattoo-machine-1.png" />
            <h3>Tattooing</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat
              impedit architecto voluptatum labore, similique vitae ipsum
              assumenda quasi, rem voluptate, aliquid earum et error quibusdam
              reprehenderit ullam cupiditate atque id.
            </p>
          </div>
          <div class="info">
            <img src="/image/chair-tattoo.png" />
            <h3>Tattooing</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat
              impedit architecto voluptatum labore, similique vitae ipsum
              assumenda quasi, rem voluptate, aliquid earum et error quibusdam
              reprehenderit ullam cupiditate atque id.
            </p>
          </div>
          <div class="info">
            <img src="/image/tattoo-machine-0.png" />
            <h3>Tattooing</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat
              impedit architecto voluptatum labore, similique vitae ipsum
              assumenda quasi, rem voluptate, aliquid earum et error quibusdam
              reprehenderit ullam cupiditate atque id.
            </p>
          </div>
        </div>
        <div class="grid1">
          <div class="right">
            <div class="img-start">
              <img class="img-about" src="/image/a.png" alt="" />
            </div>
          </div>
          <div class="left">
            <h3>About us</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Blanditiis odio facilis esse, cumque laudantium suscipit, magnam
              enim eum a quo tempora sequi maxime soluta nihil optio omnis
              adipisci aspernatur voluptates?
            </p>
            <button type="button" name="button">Read More</button></div>
    </section>

    <section id="gallery">
      <h3>Gallery</h3>
      <div class="wrapper">
        <div class="items">
          <span class="item active" data-name="All">All</span>
          <span class="item" data-name="Arms">Arms</span>
          <span class="item" data-name="Chest">Chest</span>
          <span class="item" data-name="Legs">Legs</span>
        </div>
      </nav>
    </div>

    <div class="gallery">
      <div class="image" data-name="Chest"><span><img src="image/image-example.jpg" alt=""></span></div>
      <div class="image" data-name="Chest"><span><img src="image/image-example.jpg" alt=""></span></div>
      <div class="image" data-name="Chest"><span><img src="image/image-example.jpg" alt=""></span></div>
      <div class="image" data-name="Chest"><span><img src="image/image-example.jpg" alt=""></span></div>
      <div class="image" data-name="Arms"><span><img src="image/image-example.jpg" alt=""></span></div>
      <div class="image" data-name="Arms"><span><img src="image/image-example.jpg" alt=""></span></div>
      <div class="image" data-name="Arms"><span><img src="image/image-example.jpg" alt=""></span></div>
      <div class="image" data-name="Legs"><span><img src="image/image-example.jpg" alt=""></span></div>
      <div class="image" data-name="Legs"><span><img src="image/image-example.jpg" alt=""></span></div>
      <div class="image" data-name="Legs"><span><img src="image/image-example.jpg" alt=""></span></div>
      <div class="image" data-name="Legs"><span><img src="image/image-example.jpg" alt=""></span></div>
      <div class="image" data-name="Legs"><span><img src="image/image-example.jpg" alt=""></span></div>
      <div class="image" data-name="Legs"><span><img src="image/image-example.jpg" alt=""></span></div>
    </div>

    <div class="preview-box">
      <div class="details">
        <span class="prev-title">Image Category:<p>Not defined</p></span>
        <span class="icon fas fa-times close-icon"></span>
      </div>
      <div class="image-box">
        <img src="" alt="">
      </div>
    </div>
    <div class="shadow"></div>

    </section>

    <section id="testimonials">
      <h3>What Says Our Client</h3>
      <div class="testimonials">
        <div class="container">
          <div class="swiper swiperContainer">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <figure>
                  <img src="image/c1.jpg" alt="">
                  <blockquote><i class="fa-solid fa-quote-right"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vitae quos quas, totam, cupiditate ex rerum quibusdam exercitationem accusamus magnam, reiciendis placeat nobis perferendis vel eum error esse sequi praesentium.</blockquote>
                  <figcaption>Any One</figcaption>
                </figure>
              </div>
              <div class="swiper-slide">
                <figure>
                  <img src="image/c3.jpg" alt="">
                  <blockquote><i class="fa-solid fa-quote-right"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vitae quos quas, totam, cupiditate ex rerum quibusdam exercitationem accusamus magnam, reiciendis placeat nobis perferendis vel eum error esse sequi praesentium.</blockquote>
                  <figcaption>Any One</figcaption>
                </figure>
              </div>
              <div class="swiper-slide">
                <figure>
                  <img src="image/c2.jpg" alt="">
                  <blockquote><i class="fa-solid fa-quote-right"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vitae quos quas, totam, cupiditate ex rerum quibusdam exercitationem accusamus magnam, reiciendis placeat nobis perferendis vel eum error esse sequi praesentium.</blockquote>
                  <figcaption>Any One</figcaption>
                </figure>
              </div>
              <div class="swiper-slide">
                <figure>
                  <img src="image/c3.jpg" alt="">
                  <blockquote><i class="fa-solid fa-quote-right"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vitae quos quas, totam, cupiditate ex rerum quibusdam exercitationem accusamus magnam, reiciendis placeat nobis perferendis vel eum error esse sequi praesentium.</blockquote>
                  <figcaption>Any One</figcaption>
                </figure>
              </div>
              <div class="swiper-slide">
                <figure>
                  <img src="image/c2.jpg" alt="">
                  <blockquote><i class="fa-solid fa-quote-right"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vitae quos quas, totam, cupiditate ex rerum quibusdam exercitationem accusamus magnam, reiciendis placeat nobis perferendis vel eum error esse sequi praesentium.</blockquote>
                  <figcaption>Any One</figcaption>
                </figure>
              </div>
              <div class="swiper-slide">
                <figure>
                  <img src="image/c1.jpg" alt="">
                  <blockquote><i class="fa-solid fa-quote-right"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vitae quos quas, totam, cupiditate ex rerum quibusdam exercitationem accusamus magnam, reiciendis placeat nobis perferendis vel eum error esse sequi praesentium.</blockquote>
                  <figcaption>Any One</figcaption>
                </figure>
              </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="js/script.js"></script>

    <!-- swiperjs script -->
    <script>
      new Swiper(".swiperContainer", {
        slidesPerView: 1,
        spaceBetween: 30,
        autoplay: {
          delay: 4500,
          pauseOnMouseEnter: true
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        },
       breakpoints: {
        1100: {
            slidesPerView: 2,
            spaceBetweenSlides: 30
          }
        }
      })
    </script>

  </body>
</html>
