@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* ROOT */

* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

section {
  padding: 25px;
}

html {
  scroll-behavior: smooth;
}

.container  {
  margin: auto;
  max-width: 80%;
  margin-top: 50px;
}

/* CORE UPSIDE and refactors */


/* -----navbar----- */ 
a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
  opacity: 1;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 23px;
}

a:hover {
  background-color: #0e6c66;
  padding: 5px 10px;
  border-radius: 5px;
}

.logo {
  font-family: 'Pacifico', cursive;
  font-style: italic;
  font-size: 23px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  height: 8vh;
  width: 100vw;
  max-width: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li{
  padding: 10px;
}

.mobile-menu {
  color: #fff;
  cursor: pointer;
  display: none;
}

/* -------- navbar-mobile  -------- */

@media (max-width:999px) {
  body {
    overflow-y: hidden;
    overflow-y: scroll;
  }

  .nav-list{
    position: absolute;
    width: 100vw;
    height: 45vh;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin-top: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-top: -25px;
    margin-bottom: 60px;
  }

  .mobile-menu{
    display: block;
  }
}

.nav-list.active-mbm {
  padding: 10px;
  transform: translateY(0);
  top: 8vh;
}

@keyframes navLinkFade {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}
/* -------- navbar-mobile end  -------- */
/* -------- title section -------- */
#title {
  background-color: rgb(50, 50, 50);
}


h2, h3 {
  font-family: 'Pacifico', cursive;
  font-style: italic;
  font-weight: 100;
  font-size: 25px;
  color: #fff;
}

p, button {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.dots {
  width: 100%;
  display: flex;
  margin-top: 20%;
  justify-content: center;
}

.dots label {
  width: 15px;
  height: 15px;
  background: #fff;
  margin: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.dots label:hover {
  background: #0e867e;
}

button {
  outline: none;
  border: none;
  background: none;
  padding: 12px 50px;
  background: #0e6c66;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/*----------------- button animation -----------------*/

button:hover {
  background: #0e867e;
}

/*----------------- button animation -----------------*/

.grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.right {
  padding: 0;
  margin: 0;
  place-items: center;
}

.img-title {
  max-width: 75%;
  display: block;
  min-width: 350px; /* MAYBE I CAN REMOVE THIS I DON'T KNOW */
}

.img-start{
  display: flex;
  justify-content: center;
}
/* -------- title section END -------- */
/* -------- about section Start -------- */

#about {
  background-color: #fff;
}

#about p {
  color: rgb(67, 66, 66);
}

#about .container {
  margin-top: 20px;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  place-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.info {
  padding: 5px;
}

h3 {
  color: black;
  font-weight: 600;
  text-align: center;
}

img {
  width: 65px;
  margin-bottom: 10px;
}

.img-about {
  width: 350px;
}

/* -------- about section END -------- */
/* -------- gallery section start -------- */

#gallery {
  background-color: rgb(50, 50, 50);
  color: #fff;
  font-family: 'Open Sans', sans-serif;
} 

#gallery nav {
  background-color: rgb(50, 50, 50);
}

#gallery h3 {
  color: white;
  margin-bottom: 10px;
}

#gallery .item{
  padding: 7px 25px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  border: 2px solid #0e6c66;
  border-radius: 10px;
  transition: all 0.2s ease-in;
  margin: 5px; 
}

.items {
  display: flex;
  justify-content: center;
}

.active,
.item:hover{
  background-color: #0e6c66;
}

#gallery img {
  width: 100%;
  display: block;
  max-width: 500px;
  margin-bottom: 0;
}

.gallery .image.hide{
  display: none;
}

.gallery .image.show{
  animation: animate  0.4s ease;
}

@keyframes animate{
  0%{
    transform: scale(0.5);
  }
  100%{
    transform: scale(1);
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery > div {
  flex: 1 1 300px;
  margin: 10px;
}

.gallery .image span {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.gallery .image img{
  transition: all 0.2s ease-in;
  vertical-align: middle;
}

.gallery .image:hover img{
  transform: scale(1.1);
}
/* --- gallery PREVIEW BOX --- */

.preview-box{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: rgb(73, 73, 73);
  border-radius: 3px;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.preview-box.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
}

.shadow.show {
  display: block;
}

.preview-box .details{
  display: flex;
  align-items: center;
  padding: 13px 15px 13px 10px;
  justify-content: space-between;
}

.preview-box .details .prev-title{
  display: flex;
  font-size: 18px;
  font-weight: 400;
}

.details .prev-title p{
  font-size: 18px;
  margin-left: 5px;
  font-weight: 500;
}

.details .icon {
  font-size: 25px;
  cursor: pointer;
}

.preview-box .image-box{
  display: flex;
  width: 100%;
}

.image-box img {
  width: 100%;
  border-radius: 0 0 3px 3px;
}

/* --- gallery PREVIEW BOX end --- */
/* -------- gallery section END -------- */
/* --- TESTIMONIALS START --- */

#testimonials h3 {
  font-size: 35px;
}

#testimonials {
  background: #fff;
  font-family: 'Open-sans', sans-serif;
}

.swiper {
  padding-top: 50px;
}

.swiper figure{
  padding-top: 18.5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: ease .4s;
}

.swiper figure img{
  object-fit: cover;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-bottom: 30px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0,.15);
  transition: ease .4s;
}

.swiper figure blockquote,
.swiper figure figcaption{
  text-align: center;
}

.swiper figure blockquote{
  font-size: 20px;
  margin-bottom: 20px;
}

.swiper figure blockquote .quote {
  display: block;
  font-size: 36px;
}

.swiper figure figcaption{
  font-size: 28px;
  font-weight: 700px;
}

.swiper figure:hover{
  transform: translateY(-10px);
}

.swiper figure:hover img {
  transform: scale(1.1);
}

.swiper .swiper-pagination {
  position: relative;
  bottom: inherit;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper .swiper-pagination .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-color: #000;
}



/* --- TESTIMONIALS START --- */